{% extends "index/index.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}

    <div class="container user-index-padding">
        <div class="row">
            {% if error %}
                <h5 style="color:red;">Error: {{ error }} </h5>
            {% endif %}
        </div>
        <form action="" method="post" name="deleteReservation">
        {{ form.hidden_tag }}
        <div class="row">
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Room Number</th>
                    <th>Room Category</th>
                    <th># Persons Allowed</th>
                    <th>Cost Per Day</th>
                    <th>Cost of Extra Bed Per Day</th>
                    <th>Extra Bed?</th>
                </tr>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room['room_number'] }}</td>
                        <td>{{ room['category'] }}</td>
                        <td>{{ room['persons_allowed'] }}</td>
                        <td>{{ room['cost_per_day'] }}</td>
                        <td>{{ room['cost_extra_bed']}}</td>
                        <td>{{ form.check(value=room.room_number) }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            <div class="form-group row">
                <div class="text-left col-md-2">
                    {{ form.next_page(class_="btn btn-default right-align") }}
                </div>
            </div>
        </div>

        </form>
    </div>
{% endblock %}