{% extends "admin/admin_index.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}

    <div class="container user-index-padding">
        {% if error %}
            <h5 style="color:red;">Error: {{ error }} </h5>
        {% endif %}
        <h2>Reservation Report</h2>
        <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Month</th>
                    <th>Location</th>
                    <th>Number of Reservations</th>
                </tr>
        {% if report %}
                {% set month_index = 1 %}
                {% for r in report %}
                    {% if r.month == 'August' %}
                            {% set month_index = 1 + month_index %}
                    {% endif %}
                    <tr>
                        {% if loop.index == 1 %}
                            <td>{{ r.month }}</td>
                        {% elif month_index == loop.index %}
                            <td>{{ r.month }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ r.location }}</td>
                        <td>{{ r.number_reservations }}</td>
                    </tr>
                {% endfor %}
        {% endif %}
            </table>
    </div>
{% endblock %}